mixin videoBlock(video = {})
    .video-block
        a(href=routes.videoDetail(video.id))
            video.video-block__thumbnail(src=`${video.videoFile}` controls=false)
            h4.video-block__title= video.title
            if video.views === 1
                h6.video-block__views 1 view
            else
                h6.video-block__views #{video.views} views 

